extends layout

block content
  .site-wrapper.center-block
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              a(href="/")
                h3.masthead-brand TicTacToe
            
          .inner.cover
            form#form
              .form-group
                label(for='user_handle') 
                  h2 Your TicTacToe Handle
              .input-group
                .input-group-addon @
                input#exampleInputAmount.form-control(type='text', placeholder='Enter Handle', name="user_handle")
                //- small.text-muted Be sure to pick something badass. Strike fear into the hearts of your enemies.
              br
              fieldset.form-group
                label(for='game_room_title') 
                  h2 GameRoom Title
                input#game_room_title.form-control(type='text', name="user_room_title" placeholder='Enter the name for your new Tic Tac Toe room.')
                small.text-muted Your GameRoom should be named someting intimidating, you wouldnt want your enemies thinking you're weak.
              fieldset.form-group
              label(for='board_size') 
                h2 Board Dimensions: 
                .btn-group#board_size(data-toggle='buttons')
                  label.btn.btn-primary.btn-lg.active
                    input#board_option3(type='radio', name='board_dimension', value="3", autocomplete='off', checked='')
                    |  3 X 3
                  label.btn.btn-primary.btn-lg
                    input#board_option5(type='radio', name='board_dimension', value="5", autocomplete='off')
                    |  5 X 5
                  label.btn.btn-primary.btn-lg
                    input#board_option10(type='radio', name='board_dimension', value="10", autocomplete='off')
                    |  10 X 10 
              fieldset.form-group
                br
                button.btn.btn-lg.btn-success(type="submit") Create Game
            #board-container
              .board.hide#board
            br
            .msg_btns.hide
              .btn.btn-danger.reset_button.btn-large#reset Reset
              br
              br
              h3.current-turn
              br
              .message-board.empty
          .mastfoot
            .inner
              p
                | Built by  
                a(href='http://github.com/thexande') @thexande
                | , extending code seed from 
                a(href='https://github.com/thexande') @berto
                | .
