doctype html
html
  head
    title= title
    link(href="/scripts/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cover.css')
  body
    block content
    .modal.fade#myModal
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title.black Modal title
          .modal-body.black
            p One fine body…
          .modal-footer
            button.btn.btn-danger.reset_button(type='button', data-dismiss='modal') Reset Game

    script(src="/scripts/jquery/dist/jquery.min.js")
    script(src="/scripts/tether/dist/js/tether.min.js")
    script(src="/scripts/bootstrap/dist/js/bootstrap.min.js")
    script(src="/scripts/socket.io-client/socket.io.js")
    script(src="/javascripts/game.js")
    script(src="/javascripts/app.js")
