

<h1>Tic Tac Toe</h1>

<main>
  <section class="dashboard">
    <form class="form-group col-sm-3">
      <label class="form-label" for="rows">Rows:
        <input class="form-input" type="number" id="rows" value="3">
      </label>
      <label class="form-label" for="cols">Columns:
        <input class="form-input" type="number" id="cols" value="3">
      </label>
      <button type="submit" class="create btn">Create Game</button>
      <button class="reset btn" type="button">Reset</button>
    </form>
    <div class="message-board empty col-sm-5"></div>
  </section>
  <h3 class="current-turn"></h3>
  <section class="board"></section>
</main>
