<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.1.25/spectre.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body><header class="navbar">
      <section class="navbar-section">
          <a href="#" class="btn btn-link btn-lg">
              <i class="icon icon-people"></i>
          </a>
          <a href="#" class="navbar-brand">Spectre.css</a>
      </section>
      <section class="navbar-section">
          <input type="text" class="form-input input-inline" placeholder="search" />
          <a href="#" class="btn btn-link">documents</a>
          <a href="#" class="btn btn-link">login</a>
          <a href="#" class="btn btn-primary">signup</a>
      </section>
  </header>
    {{{body}}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
