body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.board {
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  font-size: 3em;
}

.box {
  width: 10vw;
  height: 10vw;
  border: white .01em solid;
  box-sizing: border-box;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  cursor: pointer;
}

.box:active {
  background: #444;
  cursor: pointer;
}
